---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro';
import { ViewTransitions } from 'astro:transitions';
import { dateTransform } from '../../utils/index';
type Props = CollectionEntry<'blog'>;

const post = Astro.props

console.log(post.id)

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const {Content} = await post.render()

---

<Layout title={post.data.title}>
	<h1 naux-text-color font-chinese transition:name={`article-title-${post.id}`} transition class="group hover:select-none" relative>
		<a px-2 -left-11 absolute naux-link invisible opacity-0 class="group-hover:visible group-hover:opacity-100" href="javascript:history.back(-1)">𡿨</a>
		{post.data.title}	
	</h1>
		<span naux-text-color mr-6>{post.data.tags.join('、')}</span>
	<div flex mb-4 font-chinese>
		<span naux-text-color>记于 {dateTransform(post.data.createAt)}</span>
	</div>
  <Content></Content> 
  <ViewTransitions /> 
</Layout>