---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro'

const articles = await Astro.glob('../article/*.md');
// console.log(articles[0].getHeadings());
// <div set:html={article.compiledContent()}></div>
---

<Layout title="Blog">
  <main>
    <h2 bg-yellow-200>this is blog page, there will be put the blog content</h2>
    {
      articles.map((article, index) => (
        <h3 tabindex={index} focus-bg-red focus-h-3xl focus-b-2>
          {article.frontmatter.title}
        </h3>
        <Article title={article.frontmatter.title} >
          <div set:html={article.compiledContent()}></div>
        </Article>
      ))
    }
  </main>
</Layout>

<style>
  
</style>
